<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>



<h1> students </h1>

<% @students.each do |student| %>
  <%= debug student %>
<% end %>


<h1> featured projects </h1>

<% @featured_projects.each do |project| %>
  <%= debug project %>
<% end %>